@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #191919;
  --secondary-background: #212121;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
